:root {
	--black: #14191e;
	--purple: #420fe7;
	--pink: #fbb1c2;
	--gray: #f9f9ff;
}

#title {
	height: 50vh;
	background-color: var(--gray);
	position: relative;
}

#title_box {
	position: absolute;
	width: 100%;
	margin-top: 5vh;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	text-align: center;
}

#title_box > h1 {
	margin: 0;
	line-height: 100%;
	font-family: "Cairo", sans-serif;
	font-weight: 900;
	font-size: 9vw;
	text-align: center;
	color: var(--purple);
}

#title_box > h2 {
	margin: 0;
	font-family: "Raleway", sans-serif;
	font-weight: 800;
	color: var(--black);
	text-align: center;
	font-size: 4vw;
}

#title_box > h2 > span {
	font-weight: 900;
	color: var(--pink);
}

#title_wave {
	transform: translateY(100%);
	position: absolute;
	bottom: 0;
}

@media (max-width: 1200px) {
	#title_box {
		transform: translate(-50%, -60%);
	}
}

@media (max-width: 748px) {
	#title_box > h1 {
		font-size: 10vw;
	}

	#title_box > h2 {
		font-size: 5vw;
	}
}

@media (max-width: 578px) {
	#title {
		height: 40vh;
	}
}

/* Follow plane */
#follow_plane {
	margin: 40vh 0 30vh;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: row;
	transform: translateX(-5%);
}

#follow_plane h1 {
	line-height: 120%;
	font-family: "Raleway", sans-serif;
	font-weight: 800;
	font-size: 3.5vw;
	color: var(--black);
}

#follow_plane h1 span {
	font-weight: 900;
	color: var(--pink);
}

@media (max-width: 748px) {
	#follow_plane {
		margin: 30vh 0 20vh;
	}
	#follow_plane h1 {
		font-size: 5vw;
	}
}

@media (max-width: 578px) {
	#follow_plane {
		margin: 15vh 0 5rem;
	}
}

svg {
	margin-left: -1vw;
}

/* Started */
#how_it_all_started {
	--highlight: var(--purple);

	margin-top: -1vh;
	background-color: var(--pink);
	color: var(--gray);
	justify-content: center;
}

/* Now */
#how_is_it_now {
	--highlight: var(--pink);

	padding-top: 2vh;
	margin-top: -1vh;
	background-color: var(--purple);
	color: var(--gray);
}

/* About me */
#more_about_me {
	--highlight: var(--purple);
	background-color: #fff;
	color: var(--black);
}

/* Let's see my work */
#see_my_work {
	--highlight: var(--pink);

	margin-top: -0.5vh;
	padding-top: 5vh;
	background-color: var(--gray);
	color: var(--black);
}

#link {
	color: var(--pink);
	font-family: "Public sans", sans-serif;
	font-weight: 700;
	font-size: 1.5vw;
	text-align: right;
	width: 100%;
	display: inline-block;
}

.content {
	position: relative;
	display: flex;
	justify-content: center;
	flex-direction: row;
}

.text {
	width: 40%;
	margin: 0 7.5vw;
}

h1 {
	margin-top: 0;
	font-family: "Cairo", sans-serif;
	font-weight: 800;
	font-size: 3.5vw;
	text-align: center;
}
p {
	text-align: justify;
	font-family: "Public sans", sans-serif;
	font-weight: 500;
	font-size: 1.5vw;
}
p > span {
	font-weight: 600;
	color: var(--highlight);
}

@media (max-width: 1200px) {
	.text {
		width: 50%;
		margin: 0 5vw;
	}
	h1 {
		font-size: 4vw;
	}
	p,
	#link {
		font-size: 2vw;
	}
}
@media (max-width: 748px) {
	.text {
		width: 60%;
		margin: 0 4vw;
	}
	h1 {
		font-size: 5vw;
	}
	p,
	#link {
		font-size: 2.1vw;
	}
}

@media (max-width: 578px) {
	.content {
		flex-direction: column;
	}

	.text {
		width: 85%;
		margin: auto;
	}
	h1 {
		font-size: 7vw;
	}
	p,
	#link {
		font-size: 3.5vw;
	}

	.plane {
		display: none;
	}
}
