:root {
	--black: #333333;
	--purple: #420fe7;
	--pink: #fbb1c2;
	--gray: #f9f9ff;
}
#title {
	height: 50vh;
	background-color: var(--gray);
	position: relative;
}

#title_box {
	width: 85vw;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	text-align: center;
}

#title_box > h1 {
	margin: 0;
	font-size: 7.5vw;
	font-family: "Cairo", sans-serif;
	font-weight: 900;
	text-align: center;
	color: var(--purple);
}

#title_wave {
	z-index: 1;
	transform: translateY(90%);
	position: absolute;
	left: 0;
	bottom: 0;
}

@media (max-width: 1200px) {
	#title_box > h1 {
		font-size: 10vw;
	}
	#title {
		height: 40vh;
	}
}
@media (max-width: 748px) {
	#title_box > h1 {
		font-size: 12.5vw;
	}
	#title {
		height: 35vh;
	}
	#title_box {
		width: 95vw;
	}
}

main {
	margin: 40vh auto 10vh;
	width: 60vw;
	font-family: "Public sans", sans-serif;
	font-size: 3rem;
}

main h1 {
	margin: 2rem 0 0;
	font-size: 1.7em;
	font-weight: 700;
	line-height: 120%;
}

main p {
	font-weight: 300;
	font-size: 1em;
}
main b {
	font-weight: 600;
}
main a {
	color: var(--purple);
	font-weight: 600;
	text-decoration: underline;
	transition: 0.2s ease all;
}
main a:hover {
	color: var(--pink);
	text-decoration: none;
}

main mark {
	display: block;
	background-color: unset;
	margin: 1.5em 0;
	font-weight: 400;
	padding-left: 1.25em;
	border-left: var(--purple) 0.2em solid;
	font-size: 1em;
}

main blockquote {
	text-align: center;
	margin: 0;
	font-weight: 300;
	padding-left: 1.25em;
	margin: 1.5em 0;
	padding: 1.5em 1.75em;
	background-color: rgb(51, 51, 51, 0.1);
}

@media (max-width: 2000px) {
	main {
		font-size: 1.75rem;
	}
}
@media (max-width: 1500px) {
	main {
		width: 65vw;
		font-size: 1.25rem;
	}
}
@media (max-width: 1200px) {
	main {
		margin: 20vh auto 0;
		width: 75vw;
		font-size: 1.3rem;
	}
}
@media (max-width: 748px) {
	main {
		margin: 15vh auto 0;
		width: 90vw;
	}
}
